# ===============================
# Entornos virtuales
# ===============================
venv/

# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Variables de entorno
# ===============================
.env

# ===============================
# Editor / IDE
# ===============================
.vscode/
.idea/
*.swp
*.swo

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Tests / coverage
# ===============================
.coverage
htmlcov/

# ===============================
# Build / cache
# ===============================
build/
dist/
*.egg-info/

# ===============================
# Database (local only)
# ===============================
*.sqlite3

# ===============================
# Node (si luego usas React en este repo)
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
